{% extends "index.html" %}
{% block content %}
    {% for i in cat_list %}
        <hr>
        <div>
            <div>
                {% if subcatalogactive.0.name %}
                    <p><a href="{% url 'items' catalogactive.0.id subcatalogactive.0.id i.id %}"> {{ i.name }} </a></p>
                {% else %}
                    <p><a href="{% url 'items' catalogactive.0.id 0 i.id %}"> {{ i.name }} </a></p>
                {% endif %}

            </div>

            <div>
                <p>{{ i.description }}</p>
            </div>

            <div>
                <p> {{ i.price }} руб <a href="#"> &nbsp; Add to cart </a></p>
            </div>
        </div>
    {% endfor %}
{% endblock content %}



