{% extends "index.html" %}
{% block content %}
    <br>
    <div>
        <div>
            <h4><strong>{{ item.0.name }}</strong></h4>
        </div>

        <div>
            <p><strong>Производитель:</strong> &nbsp; {{ item.0.manufacturer }}</p>
        </div>

        <div>
            <p><strong>Описание:</strong></p>
            <p>{{ item.0.description }}</p>
        </div>

        <div>
          <h4>
              <strong>Цена:</strong> &nbsp; {{ item.0.price }} руб &nbsp;
              <a href="{% url 'addtocart' item.0.id 1 %}" class="btn btn-info" role="button"> В корзину </a>
          </h4>
        </div>
    </div>

{% endblock content %}