{% extends "index.html" %}
{% block content %}
    <br>
    <div>
        <div>
            <h4><strong>{{ item.0.name }}</strong></h4>
        </div>

        <div>
            <p><strong>Производитель:</strong> &nbsp; {{ item.0.manufacturer }}</p>
        </div>

        <div>
            <p><strong>Описание:</strong></p>
            <p>{{ item.0.description }}</p>
        </div>

        <div>
          <h4>
              <strong>Цена:</strong> &nbsp; {{ item.0.price }} руб &nbsp;
              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"> В корзину </button>
          </h4>
          <!-- Modal -->
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Просим понять и простить</h4>
                </div>
                <div class="modal-body">
                  <p>К великому сожалению данный товар отсутствует на складе.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
              </div>

            </div>
          </div>
        </div>
{#        <div>#}
{#            <p><strong>Цена:</strong> &nbsp; {{ item.0.price }} руб <a href="#"> &nbsp; В корзину </a></p>#}
{#        </div>#}
    </div>

{% endblock content %}