<!DOCTYPE html>
{% extends "index.html" %}
{% load staticfiles %}
{% load static %}


{% block catpath %}
    {{ catalogactive.0.name }}
{% endblock catpath %}


{#{% block prodlist %}#}
{#    {% for i in cat_list %}#}
{#        <div id="item">#}
{##}
{#            <div id="pict">#}
{#                <a href="#"><img src="{% static i.photo|first %}" alt="photo" height="142" width="142"></a>#}
{#            </div>#}
{##}
{#            <div>#}
{#                <p><a href="#"> {{ i.name }} </a></p>#}
{#            </div>#}
{##}
{#            <div>#}
{#                <p>{{ i.description }}</p>#}
{#            </div>#}
{##}
{#            <div>#}
{#                <p> {{ i.price }} руб <a href="#"> Add to cart </a></p>#}
{#            </div>#}
{##}
{#        </div>#}
{#    {% endfor %}#}
{#{% endblock prodlist %}#}



