<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<style>
  * {
   box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  #main {
    display: flex;
    min-height: calc(100vh - 40vh);
  }
  #main > article {
    flex: 1;
  }
  #main > nav,
  #main > aside {
    flex: 0 0 20vw;
    background: beige;
  }
  #main > nav {
    order: -1;
  }
  header, footer, article, nav, aside {
    padding: 1em;
  }
  header, footer {
    background: gainsboro;
    height: 20vh;
  }
</style>
<body>
  <header>
    <h2>
        {% if request.user.is_authenticated %}
           Привет {{ user.first_name }}
        {% else %}
           Привет гость
        {% endif %}
    </h2>
    <div>
        {% if request.user.is_authenticated == False %}
            <a href="{% url 'registration' %}">Регистрация</a>
        {% endif %}
    </div>
    <div>
        {% if request.user.is_authenticated == False %}
            <a href="{% url 'login' %}">Войти</a>
        {% endif %}
    </div>
    <div>
        {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}">Выйти</a>
        {% endif %}
    </div>
    <div>
        {% if request.user.is_authenticated and user.is_staff %}
            <a href="{% url 'addproduct' %}">Добавить товар</a>
        {% endif %}
    </div>
  </header>
  <div id="main">
    <article>News</article>
    <nav>Categories</nav>
    <aside>Aside</aside>
  </div>
  <footer>Footer</footer>
</body>