{% extends "index.html"%}
{% load staticfiles %}
    {% block content %}
        <h2>О нас</h2>
        <div>
            <p> Магазин <strong>All Music Shop</strong> предлагает музыкантам и любителям музыкального творчества лучшие музыкальные инструменты и оборудование ведущих мировых производителей. Ориентируясь в кипучем мире музыкальной продукции, <strong>All Music Shop</strong>, с помощью современных технологий, помогает вам получать лучшие продукты, не выходя из дома! Мы верим, что наше трудолюбие и ответственность, помноженное на особое отношение к музыкантам и любителям музыки, делает этот мир чуточку лучше!</p>
        </div>
    {% endblock %}